@model SampleUploadFile.Models.SampleUploadFileViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Hello there, world </h1>
    <h3> This is a sample app, aiming to display the power, versatility and above all, ease of use of Azure Web Apps and Storage!</h3>
</div>

<div class="row">
    <!-- Upload File Section START -->
    <h2>Upload a file! Yep, send it floating into the sky.</h2>
    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        <div>
            @Html.TextBox("file", "", new { type = "file" }) <br />
            <input type="submit" value="Upload" />
        </div>
        <p>@Model.Message</p>
    }
    <!-- Upload File Section END -->
    <br />
    @if (Model.UploadedBlobFilesList != null && Model.UploadedBlobFilesList.Any()) {
        <h2>The following files are officially on cloud nine</h2>
        <ol>
            @foreach (var uploadedFile in Model.UploadedBlobFilesList) {
                <li>
                    @uploadedFile.FileName
                    @switch (uploadedFile.FileType) {
                        case SampleUploadFile.Common.FileType.Zuperman:
                            <img src="~/Content/Images/zuperman-document.gif" style="height:190px;width:150px" />
                            break;
                        case SampleUploadFile.Common.FileType.Image:
                            <img src="@Url.Content(@uploadedFile.FileUri)" style="height:150px;width:150px" />
                            break;
                        case SampleUploadFile.Common.FileType.Text:
                            <img src="~/Content/Images/text-document.png" style="height:150px;width:150px" />
                            break;
                        case SampleUploadFile.Common.FileType.Pdf:
                            <img src="~/Content/Images/pdf-document.png" style="height:150px;width:150px" />
                            break;
                        case SampleUploadFile.Common.FileType.Excel:
                            <img src="~/Content/Images/excel-document.png" style="height:150px;width:150px" />
                            break;
                        case SampleUploadFile.Common.FileType.Other:
                            <img src="~/Content/Images/lochness-document.jpg" style="height:150px;width:150px" />
                            break;
                    }
                    @Html.ActionLink(" " + @uploadedFile.DeleteMessage, "DeleteFile", new { fileName = @uploadedFile.FileName }, new { @class = "btn btn-danger fa fa-apple" })
                    <br />
                    <br />
                </li>
            }
        </ol>
    }
</div>