@model SampleUploadFile.Models.SampleUploadFileViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Hello World! This is a sample app</h1>
</div>

<div class="row">
    <!-- Display Image Section START -->
    <!-- <img src="@Url.Content("~/Content/Images/image.jpg")" style="height:400px;width:400px"; /> -->
    <!-- Display Image Section END -->

    <!-- Upload Image Section START -->
    <h2>UploadFile</h2>
    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        <div>
            @Html.TextBox("file", "", new { type = "file" }) <br />
            <input type="submit" value="Upload" />
        </div>
        <p>@Model.Message</p>
    }
    <!-- Upload Image Section END -->
    <br />
    @if (Model.UploadedBlobFilesList != null && Model.UploadedBlobFilesList.Any()) {
        <h2>Files in the cloud</h2>
        foreach (var uploadedFile in Model.UploadedBlobFilesList) {
            <ol>
                <li>@uploadedFile.FileName</li>
                <img src="@Url.Content(@uploadedFile.FileUri)" style="height:200px;width:200px" />
            </ol>
        }
    }

</div>